The values of Allow-Events (rfc3265) is being parsed as separate headers

In general, a header may allow for multiple header-values to be merged onto a single line separated by a comma. However, there are several headers in SIP that doesn't allow for this and Allow-Events is one of them. See RFC3265 section 7.4:

``` 
Allow-Events =  ( "Allow-Events" / "u" ) HCOLON event-type
                   *(COMMA event-type)
```

Meaning that `Allow-Events` has one or more `event-type`s separated by a `COMMA`, which then effectively means that `Allow-Events: one, two, three` is actually a single header and not three headers merged into one.

Fixed in https://github.com/aboutsip/pkts/pull/89. Closing